.step-bar.step-bar-6>li {
width: 16.6666666667%;
}
.step-bar>li {
display: block;
width: 15%;
float: left;
position: relative;
padding-top: 62px;
text-align: center;
font-family: maif,Arial,sans-serif;
font-size: 14px;
text-transform: uppercase;
}
*, ::after, ::before {
box-sizing: border-box;
}
*, ::after, ::before {
box-sizing: border-box;
}
li {
display: list-item;
text-align: -webkit-match-parent;
}
::marker {
unicode-bidi: isolate;
font-variant-numeric: tabular-nums;
white-space: pre;
text-transform: none;
}
.step-bar>li:before {
font-family: maificon;
content: "";
color: currentColor;
font-size: 50px;
line-height: 50px;
position: absolute;
top: 0;
left: 50%;
margin-left: -25px;
z-index: 100;
}
*, ::after, ::before {
box-sizing: border-box;
}
*, ::after, ::before {
box-sizing: border-box;
}
.step-bar>li:nth-child(1):after {
content: "1";
}
.step-bar>li:after {
content: "0";
font-family: maif,Arial,sans-serif;
font-size: 27px;
position: absolute;
top: 6px;
left: 50%;
margin-left: -25px;
text-align: center;
width: 50px;
z-index: 101;
color: #fff;
font-weight: 500;
}
*, ::after, ::before {
box-sizing: border-box;
}
*, ::after, ::before {
box-sizing: border-box;
}
.step-bar {
list-style-type: none;
color: #2e404f;
}
ol {
list-style-type: decimal;
}
body, html {
-webkit-font-smoothing: antialiased;
color: #000;
}
body {
font-family: Arial,sans-serif;
font-size: .9375rem;
font-weight: 400;
line-height: 1.5;
color: #000;
text-align: left;
}
body {
font-family: Arial,sans-serif;
font-size: .9375rem;
font-weight: 400;
line-height: 1.5;
color: #000;
text-align: left;
}
html {
font-family: sans-serif;
line-height: 1.15;
-webkit-text-size-adjust: 100%;
}
html {
font-family: sans-serif;
line-height: 1.15;
-webkit-text-size-adjust: 100%;
}
html {
color: text;
}

@font-face {
  font-family: maificon;
  font-display: swap;
  src: url(https://satellites.maif.fr/maif/composants/font/rwd/maificon/maificon.eot?-n7qk42);
  src: url(https://satellites.maif.fr/maif/composants/font/rwd/maificon/maificon.eot?#iefix-n7qk42) format("embedded-opentype"), url(https://satellites.maif.fr/maif/composants/font/rwd/maificon/maificon.woff2) format("woff2"), url(https://satellites.maif.fr/maif/composants/font/rwd/maificon/maificon.woff?-n7qk42) format("woff"), url(https://satellites.maif.fr/maif/composants/font/rwd/maificon/maificon.ttf?-n7qk42) format("truetype"), url(https://satellites.maif.fr/maif/composants/font/rwd/maificon/maificon.svg?-n7qk42#maificon) format("svg");
  font-weight: 400;
  font-style:normal
}