
.step-bar {
list-style-type: none;
padding: 10px 0;
margin: 0 auto 30px;
position: relative;
overflow: hidden;
color: #2e404f;
}
dl, ol, ul {
margin-top: 0;
margin-bottom: 1rem;
}
dl, ol, ul {
margin-top: 0;
margin-bottom: 1rem;
}
*, ::after, ::before {
box-sizing: border-box;
}
*, ::after, ::before {
box-sizing: border-box;
}
ol {
display: block;
list-style-type: decimal;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}
::marker
::marker {
unicode-bidi: isolate;
font-variant-numeric: tabular-nums;
white-space: pre;
text-transform: none;
}
::before
.step-bar.step-bar-6:before {
width: 83.3333333333%;
margin-left: 8.3333333333%;
}
.step-bar:after, .step-bar:before {
content: "";
width: 100%;
position: absolute;
top: 33px;
height: 4px;
background: #e7eaeb;
left: 0;
}
*, ::after, ::before {
box-sizing: border-box;
}
*, ::after, ::before {
box-sizing: border-box;
}
Pseudo-élément ::after
.step-bar.step-bar-6.step-bar-active-2:after {
width: 16.6666666667%;
}
.step-bar.step-bar-6:after {
margin-left: 8.3333333333%;
}
.step-bar:after {
background: currentColor;
width: 0;
}
.step-bar:after, .step-bar:before {
content: "";
width: 100%;
position: absolute;
top: 33px;
height: 4px;
background: #e7eaeb;
left: 0;
}
*, ::after, ::before {
box-sizing: border-box;
}
*, ::after, ::before {
box-sizing: border-box;
}
Hérité de body
body, html {
-webkit-font-smoothing: antialiased;
color: #000;
}
body {
font-family: Arial,sans-serif;
font-size: .9375rem;
font-weight: 400;
line-height: 1.5;
color: #000;
text-align: left;
}
body {
font-family: Arial,sans-serif;
font-size: .9375rem;
font-weight: 400;
line-height: 1.5;
color: #000;
text-align: left;
}
html {
font-family: sans-serif;
line-height: 1.15;
-webkit-text-size-adjust: 100%;
}
html {
font-family: sans-serif;
line-height: 1.15;
-webkit-text-size-adjust: 100%;
}
html {
color: text;
}